<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="nb"> <!--<![endif]-->
    <head>
        {{#block "head"}}
            {{> head }}
        {{/block}}
    </head>

    <body class="alt {{body-class}}">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main class="content-container">
            <div class="{{default content 'content'}}">
                {{#block "body"}}
                    <h1>Default body</h1>
                {{/block}}
            </div>
        </main>

        <!-- JS and analytics only. -->
        {{> javascripts }}
        {{#block "scripts"}}
            {{! Scripts from templates }}
        {{/block}}
    </body>
</html>